* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

main {
    /* padding: 20px; */
}
header {
    background-color: #0b6623;
    padding: 15px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}
main h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 32px;
}
section {
    display: flex;
    justify-content: center;
}

fieldset {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    border-radius: 8px;
}

legend {
    font-weight: bold;
    padding: 0 10px;
}

.c_form input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
}

.submit {
    background-color: #0b6623;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.submit:hover {
    background-color: #094f1b;
}
footer {
    background-color: green;
    color: white;
    padding: 20px;
    margin-top: 40px;
}
footer article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;
}

.social-links a {
    color: white;
    font-size: 18px;
    margin: 0 8px;
}
.address-section {
    margin: 50px auto;
    text-align: center;
}

.address-section h2 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

address {
    font-style: normal;
    font-size: 16px;
    line-height: 1.8;
    
}

address p {
    margin-bottom: 15px;
}
.s_yj{
    margin-top: 55px;
    text-align: left;
    margin-right: 0px;
}
.h_text{
    text-align: center;
}
address span {
    font-weight: 600;
}
@media (max-width: 768px) {
    .address-section h2 {
        font-size: 24px;
    }

    address {
        font-size: 15px;
        padding: 0 15px;
    }
}

.social-links a:hover{
    color: blue;
}
@media (max-width: 768px) {
    nav a {
        font-size: 16px;
    }

    main h1 {
        font-size: 26px;
    }
}

@media (max-width: 480px) {
    main h1 {
        font-size: 24px;
    }

    fieldset {
        padding: 15px;
    }
}
