/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    background: lightgreen;
    padding: 15px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

nav a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
    transform: scale(1.08);
    color: blue;

}
/* MAIN */
main {
    /* padding: 20px; */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* FORM */
fieldset {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
}

legend {
    font-weight: bold;
}

.c_form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    font-size: 16px;
}

.submit {
    background: lightgreen;
    color:black;
    border: none;
    cursor: pointer;
}

.submit:hover {
    background: blue;
    transform: scale(1.02);
}

/* ADDRESS SECTION */
.address-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    margin-top: 40px;
    flex-wrap: wrap;
}

address {
    max-width: 300px;
    font-style: normal;
}

address span {
    font-weight: bold;
}

iframe {
    width: 100%;
    max-width: 250px;
    height: 250px;
    border-radius: 8px;
}
footer {
    background: lightgreen;
    color: black;
    padding: 20px 10px;
}

footer article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;
}

.social-links a {
    color: white;
    font-size: 18px;
    margin: 0 10px;
    color: black;
}
.social-links a:hover{
    color: blue;
}

/* MOBILE VIEW */
@media (max-width: 768px) {

    nav {
        flex-direction: column;
        gap: 10px;
    }

    footer article {
        flex-direction: column;
        gap: 10px;
    }

    .address-section {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    iframe {
        max-width: 100%;
    }
}
