* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.p_heading{
    padding: 50px;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
.m_img{
    height: 350px;
    width: 1100px;
    box-shadow: 7px 7px 8px grey;
}

header {
    background: lightgreen;
    padding: 15px;
    position: sticky;
    top: 0;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

nav a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
    transform: scale(1.08);
    color: blue;
}
main {
    /* padding: 20px; */
}

section {
    margin-bottom: 40px;
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 15px;
}

h2 {
    margin: 15px 0;
}
picture {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

picture div {
    width: 220px;
}

.img_cric {
    width: 100%;
    border-radius: 8px;
}

picture a {
    text-decoration: none;
    color: black;
}
picture h3 {
    margin-top: 8px;
}
footer {
    background: lightgreen;
    color: black;
    padding: 20px 10px;
}

footer article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;
}

.social-links a {
    color: black;
    font-size: 18px;
    margin: 0 10px;
}
.social-links a:hover{
    color: blue;
}
@media (max-width: 768px) {
    h1 {
        font-size: 28px;
    }

    nav a {
        font-size: 16px;
    }

    picture div {
        width: 45%;
    }
}

@media (max-width: 480px) {
    picture div {
        width: 100%;
    }
}
