* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

img {
    max-width: 100%;
    height: auto;
}
header {
    background-color: green;
    padding: 15px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
    transform: scale(1.08);
}
main {
    /* padding: 20px; */
}

section {
    margin-bottom: 40px;
}

section h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
}
picture {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

picture div  {
    width: 200px;
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    border-radius: 8px;
    transition: transform 0.3s;
    box-shadow: 7px 7px 8px grey;
    height: 300px;
}

picture div:hover {
    transform: scale(1.05);
}

.img_bats {
    /* width: 100%; */
    border-radius: 5px;
}

h3 {
    font-size: 18px;
    margin-top: 10px;
}
h2{
    text-decoration: underline;
}
h4 {
    color: green;
    margin-top: 5px;
}
footer {
    background: green;
    color: white;
    padding: 20px 10px;
}

footer article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;
}

.social-links a {
    color: white;
    font-size: 18px;
    margin: 0 10px;
}
.social-links a:hover{
    color: blue;
}
@media (max-width: 768px) {
    section h2 {
        font-size: 24px;
    }

    picture div {
        width: 45%;
    }

    nav a {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    picture div {
        width: 100%;
    }

    section h2 {
        font-size: 22px;
    }
}
