nav{
    color: white;
    font-size: 20px;
    height: 25px;
}
a{
    color: black;
}
h1{
    text-align: center;
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
picture{
    display: flex;
    justify-content: center; 
    align-items: center;  
}
.img_cric{
    height: 200px;
    width: 110px;
    padding-left: 10px;
    box-shadow: 7px 7px 8px grey;
}
.img_cric:hover{
    transform: scale(1.05);
}
h3{
    font-family: sans-serif;
    text-align: center;
    font-size: 13px;
    color: black;
}
h3:hover{
    transform: scale(1.12);
    color: green;
    text-decoration: underline;
}
h2{
    font-family: sans-serif;
    color: black;
}
.img_bats{
    height: 180px;
    width: 200px;
}
h4{
    text-align: center;
    margin-bottom: 50px;
}
article{
    text-align: center;
}
h5{
    font-size: 18px;
    color: black;
    padding: 10px;
    margin-top: 30px;
}
.pad{
    padding-left: 10px;
}
.c_form{
    border-radius: 30px;
    
}
.submit{
    background-color: lightgreen;
}



