nav{
    color: white;
    /* background-color: lightgreen; */
    font-size: 20px;
    height: 25px;
}
a{
    color: black;
}
h1{
    text-align: center;
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: green;
}
picture{
    display: flex;
    justify-content: center; 
    align-items: center;  
}
.img_cric{
    height: 130px;
    width: 130px;
    padding-left: 10px;
}
h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 13px;
    color: green;
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: green;
}
.img_bats{
    height: 180px;
    width: 200px;
}
h4{
    text-align: center;
    margin-bottom: 50px;
}
article{
    text-align: center;
}
.history{
    height: 200px;
    width: 400px;
    padding-left: 10px;
}
h5{
    font-size: 18px;
    color: green;
    padding: 10px;
    margin-top: 30px;
}
.pad{
    padding-left: 10px;
}
.c_form{
    border-radius: 30px;
    
}
.submit{
    background-color: green;
}



