nav{
    color: white;
    background-color: lightgreen;
    font-size: 20px;
    height: 25px;
}
a{
    color: black;
}
h1{
    text-align: center;
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: green;
}
picture{
    display: flex;
    justify-content: center; 
    align-items: center;  
}
.img_cric{
    height: 130px;
    width: 130px;
    padding-left: 10px;
}
h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 13px;
    color: green;
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: green;
}
.img_bats{
    height: 180px;
    width: 180px;
}
h4{
    text-align: center;
    margin-bottom: 50px;
}


